<%- include("../includes/header.ejs", {title:"Add New Account"}); %>
<head>
    <title> Add New Account </title>
</head>
<body>
<h1> Add New Account</h1>
<form action="/account/insert" method="get">
    First Name: <input id="first_name" name="first_name" type="text"/>
    <br/>
    Last Name: <input id="last_name" name="last_name" type="text"/>
    <br/>
    Email: <input id="email" name="email" type="text" />
    <br/>

    <input type ="submit" />

</form>
</body>
</html>

<%- include("../includes/footer.ejs"); %>