<html>
<head>
    <title> Accounts - <%result[0].first_name%></title>
</head>

<body>
<h1> Accounts</h1>
<ul>
    <li> Account ID: <%= result[0].account_id%></li>
    <li> First Name: <%= result[0].first_name%></li>
    <li> Last Name: <%= resuly[0].last_name%></li>
    <li> Email: <%= result[0].email%></li>
</ul>
</body>
</html>