<!DOCTYPE html>
<html>
<head>
<style>
    div.container{
        width:100%;
        border: 1px blue;
    }
    header, footer {
        padding: 3em;
        color: white;
        background-color: blueviolet;
        clear:right;
        text-align: center;
    }

    nav {
        float: left;
        max-width: 160px;
        margin: 0;
        padding: 0;
    }

    nav ul {
        list-style-type: square;
        padding: 0em;
    }

    nav ul a {
        text-decoration: none;
    }

    article {
        margin-left: 0px;
        border-left: 1px solid gray;
        padding:0;
        overflow: hidden;
    }
</style>
    <!-- jQuery JavaScript Library; required by Bootstrap JS Library -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <!-- Bootstrap CSS and JavaScript Libraries; required by Bootstrap Multiselect -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"/>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Bootstrap Multiselect JavaScript Library and CSS -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" type="text/css"/>

</head>
<body style="margin-left:20px;">

<body>
<header><h1>Database for Losers</h1></header>
</body>