<%- include("../includes/header.ejs", {title:"Resume - View All"}); %>

<h1>Resumes</h1>
<a href="/resume/add">Add New Resume</a> <br />

<br />

<table border="1">
    <tr><th>Name</th><th>Resume Name</th><th>Actions</th></tr>
    <% for(var i=0; resume.length > i; i++ ) { %>
    <tr>
        <td><%= account[i].first_name %></td> <td><%= resume[i].resume_name %></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/resume/edit/?resume_id=<%= resume[i].resume_id %>'">Edit</button>
            <form action="/resume/delete/" style="display:inline;">
                <input type="hidden" name="resume_id" id="resume_id" value="<%= resume[i].resume_id %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>