<%- include("../includes/header.ejs", {title:"Resumes - " + result[0].resume_name}); %>
<h1>Resumes</h1>
<ul>
    <li>Resume Name: <%= result[0].resume_name %></li>
    <li>Account(s):
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].first_name + result[i].last_name %></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/resume/all"><< back</a>

<%- include("../includes/footer.ejs"); %>