<%- include("../includes/header.ejs", {title:"Resume - View All"}); %>

<head>
    <title>Add New Resume </title>
</head>
<body>
<h1> Add New Resume</h1>
<form action="/resume/insert" method="get">
    <br />
    <!--<input type="hidden" id="account_id" name="account_id" value="<!%= result.account_id %!>"-->
    Resume Name: <input id="resume_name" name="resume_name" type="text"/>
    <br/>
    Select User:
        <select id="account_id" name="account_id">
            <% for(var i=0; result.length > i; i++ ) { %>
            <option value="<%= result[i].account_id %>"><%= result[i].first_name + ' ' + result[i].last_name%></option>
            <% } %>
        </select>
    <br/>
    Skill:
    <select id="skill_id" name="skill_id">
        <% for(var i=0; result.length > i; i++ ) { %>
        <option value="<%= result[i].skill_id %>"><%= result[i].skill_name%></option>
        <% } %>
    </select>




        <input type ="submit" />
    </form>
</body>
</html>
<%- include("../includes/footer.ejs"); %>