<%- include("../includes/header.ejs", {title: "Update " + resume.resume_name}); %>

<h1>Update <%= resume.resume_name%></h1>
<form action="/resume/update" method="get">
    <input type="hidden" id="resume_id" name="resume_id" value="<%= resume.resume_id %>">
    Resume Name: <input id="resume_name" name="resume_name" type="text" value="<%= resume.resume_name%>"/>
    <br />
    <br />
    Account:
    <select id="account_id" name="account_id" multiple="multiple">
        <% for(var i=0; account.length > i; i++ ) {
            var selected = "";

            if(account[i].resume_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= account[i].account_id %>" <%= selected %> ><%= account[i].first_name + ' '+  account[i].last_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#account_id').multiselect();
        });
    </script>

    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>