<html>
<head>
    <title>Select User </title>
</head>
<body>
<h1> Select User to Add Resume</h1>
Select User:
<form action="/resume/resumeAdd" method="get">
<select id="account_id" name="account_id">
    <% for(var i=0; result.length > i; i++ ) { %>
    <option value="<%= result[i].account_id %>"><%= result[i].first_name + ' ' + result[i].last_name%></option>
    <% } %>
<input type="submit"/>

</select>
</form>
</body>
</html>