<%- include("./includes/header.ejs", {title: title}); %>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<ul style = "list-style-type: square">
<li>
<a href="/company/all">Companies - View All</a>
    <br/></li>
        &ndash;
    <body>Companies takes you to view, add or update the companies</body>
    <li>
<a href = "/account/all">Account - View All</a>
    <br/></li>
    &ndash;
    <body>Account takes you to view, add or update the accounts</body>
    <li>
<a href = "/address/all">Address - View All</a>
    <br/></li>
    &ndash;
    <body>Address takes you to view, add or update the addresses</body>
    <li>
<a href = "/skill/all">Skill - View All </a>
    <br/></li>
    &ndash;
    <body>Skill takes you to view, add or update the skills for resumes</body>
    <li>
<a href = "/resume/all"> Resume - View All </a></li>
    &ndash;
    <body>Resume takes you to view, add or update the resumes</body>
</ul>
<%- include("./includes/footer.ejs"); %>