<html>
<head>
    <title>Skill - <%= result[0].skill_name %></title>
</head>
<body>
<h1>Skills</h1>
<ul>
    <li>Skill ID: <%= result[0].skill_id%></li>
    <li>Skill Name: <%= result[0].skill_name%></li>
    <li>Description: <%= result[0].description %></li>
</ul>
</body>

</html>
