<%- include("../includes/header.ejs", {title:"Skill - View All"}); %>
<head>
    <title> Update: <%= skill.skill_name%></title>
</head>
<body>
<h1>Update: <%=skill.skill_name%></h1>
<form action="/skill/update" method="get">
    <input type="hidden" id="skill_id" name="skill_id" value="<%= skill.skill_id%>">
    Skill Name<input id="skill_name" name="skill_name" type="text" value="<%= skill.skill_name%>"/>
    <br/>
    Description: <input id="description" name="description" type="text" value="<%= skill.description%>"/>
    <br/>
    <input type="submit" />
</form>
</body>
</html>

<%- include("../includes/footer.ejs"); %>